{% extends 'base.html.twig' %}

{% block body %}
<div class="card border-light mb-3" style="margin: auto; width: 33%; padding: 10px;">
            <div class="card-header">{{table.Name}}
            </div>
            <a class="btn btn-outline-warning" href="{{ path('updatemytable', {'id': table.id }) }}">Changer</a>  
            <a class="btn btn-outline-danger" href="{{ path('deletemytable', {'id': table.id }) }}">Supprimé</a>
            <div class="card-body">
                <h4 class="card-title"> {{table.name}} </h4>
                <p> Maître du jeu: {{table.MJ}}</p>
                <ul>
                    {% for perso in table.getPersonnages() %}
                    <li class="card-text"> {{perso.getName()}}
                    </li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for joueur in table.getJoueurs() %}
                    <li class="card-text"> {{joueur.getName()}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
