{% extends 'base.html.twig' %}
{% block body %}
<div class="card border-light mb-3" style="margin: auto; width: 33%; padding: 10px;">
            <div class="card-header">{{per.Name}}</div>            
            <a class="btn btn-outline-warning" href="{{ path('updatepersonnage', {'id': per.id }) }}">Changer</a>  
            <a class="btn btn-outline-danger" href="{{ path('deletepersonnage', {'id': per.id }) }}">Supprimé</a>
            <div class="card-body">
                <h4 class="card-title"> {{per.name}} </h4>
                <p> Joueur : {{per.getJoueur().name}} <br>
                    Table : {{per.getTableDeJeux().name}} </p>
            </div>
        </div>
{% endblock %}
