{% extends 'base.html.twig' %}

{% block title %}Welcome to SocialTableTop !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to SocialTableTop !</h1>



<a href="{{ path('newjoueur')}}"> new player <a>
{% for joueur in joueurs %}
<div>
<a href="{{ path('joueur', {'id': joueur.id }) }}">
    {{joueur.name}}
</a>
</div>
{% endfor %}
<a href="{{ path('newpersonnage')}}"> new perso <a>
{% for per in pers %}
<div>
<a href="{{ path('personnage', {'id': per.id }) }}">
    {{per.name}}</br>
</a>
    {{per.joueur.name}}</br>
    {{per.TableDeJeux.Name}}
</div>
{% endfor %}
<a href="{{ path('newtable')}}"> new table <a>
{% for table in tables %}
<div>
<a href="{{ path('mytable', {'id': table.id }) }}">
    {{table.Name}}</br>
</a>
    {{table.Mj}}
</div>

{% endfor %}
</div>
{% endblock %}
