    {% extends 'base.html.twig' %}
    {% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="/players">Joueurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/tables">Tables</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="/persos">Personnages</a>
        </li> 
    </ul>
    <div style="padding:30px" >
    <a class="btn btn-success" href="{{ path('newjoueur')}}"> Nouveau Joueur </a>
    <hr>
    {% for joueur in joueurs %}
    <div class="card border-light mb-3" style="margin: auto; width: 33%; padding: 10px;">
    <a  class="card-header" href="{{ path('joueur', {'id': joueur.id })}}">{{joueur.Name}} </a>
    <a class="btn btn-outline-warning" href="{{ path('updatejoueur', {'id': joueur.id }) }}">Changer</a>  
    <a class="btn btn-outline-danger" href="{{ path('deletejoueur', {'id': joueur.id }) }}">Supprimé</a>
        <div class="card-body">
        <h4 class="card-title"> {{joueur.name}} </h4>
        <h5> Tables:</h5>
        <ul>
        {% for table in joueur.getTables() %}
        <li class="card-text"> {{table.getName()}}
        </li>
        {% endfor %}
        </ul>
        <h5> Personnages:</h5>
        <ul>
        {% for persos in joueur.getPersonnage() %}
        <li class="card-text"> {{persos.getName()}}
        </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    {% endfor %}
    <div>
    {% endblock %}
    {% block javascripts %}{% endblock %}